/*--------------------*\
		David TARCZEWSKI
\*--------------------*/

/*
Ligne = div qui contiendra les colonnes dont la somme font 12.
Par exemple, une ligne contiendra deux colonnes de 7 et 5. Ou alors trois colonnes de 4.
*/
.row {
	width : 960px;
	margin : 10px auto;
}
.row > div {
	float : left;
	margin : 0 10px;
}
/*Comme signalé, chaque ligne fait 960 pixels de large. Le margin sert à les centrer dans la page. On définit aussi ses enfants directs (donc les colonnes) comme flottant à gauche avec une margin de 10 pixels sur les côtés pour les séparer.

Il est donc très important que les lignes n’ait comme enfant direct uniquement les colonnes et que celles-ci soient des div.

Dans les faits, les lignes auront un enfant supplémentaire qui devra s’insérer après toutes les colonnes pour signaler la fin d’une ligne. Voir plus loin dans le code */


/*
Notre système est à douze colonnes.
Nous allons donc créer douze classes pour les représenter.
*/
.w-1 { width : 60px; }
.w-2 { width : 140px; }
.w-3 { width : 220px; }
.w-4 { width : 300px; }
.w-5 { width : 380px; }
.w-6 { width : 460px; }
.w-7 { width : 540px; }
.w-8 { width : 620px; }
.w-9 { width : 700px; }
.w-10 { width : 780px; }
.w-11 { width : 860px; }
.w-12 { width : 940px; }

/*
Après toutes les colonnes d’une ligne, un élément devra être ajouté pour signaler la fin d’une ligne. Il s’agit d’un paragraphe vide ayant la class « clear ».
dans le html copier :
<p class="clear"></p>
*/
.clear { clear : both ; }


/* Apparence générale */
body {
	max-width: 960px;
	width: 100%;
	margin: auto;
	font-family: sans-serif;
	color: #333;
}

header {
	text-align: center;
	font-family: monospace;
	font-size: 1.4em;
	color: #666;
}

h2 {
	font-size: 1.2em;
	color: #999;
	background-color: #fff;
}
h3 {
	font-size: 0.9em;
	color: #222;
}

section {
	background-image:-moz-linear-gradient(30deg, #65C77B, #fff);
	background-image:-webkit-linear-gradient(30deg, #65C77B, #fff);
	background-image:-o-linear-gradient(30deg, #65C77B, #fff);
	background-image:linear-gradient(60deg, #65C77B, #fff);
}

footer {
	background-color: #65C77B;
	color: #000000;
}
footer p.droite {
	text-align: right;
	font-weight: bold;
}



/* menu */
nav {
	background-color: #65C77B;
	color: #E74C3C;
	font-weight: bold;
}
nav ul {
	max-width: 800px;
	width: 80%;
	margin: auto;
}
nav ul li {
	display: inline-block;
	margin: 2px;
	padding: 5px;
}

/* liens */
a {
	text-decoration: none;
	color: #E74C3C;
}
a:hover {
	color: #006617;
}

header a {
	font-family: monospace;
}








/*----------------------*\
		OLD
body {
	font-family: sans-serif;
	color: #333;
	max-width: 960px;
	width: 100%;
	margin: auto;
}

#bloc-page {
	width: 900px;
	margin: auto;
}

header {
	text-align: center;
	font-family: monospace;
	font-size: 1.4em;
	color: #666;
}

header h2 {
	font-size: 1.2em;
	color: gray;
}

nav {
	border: 1px solid green;
	width: 80%;
	margin: auto;
}

nav ul li {
	display: inline-block;
	border: 1px dashed lime;
	margin: 2px;
	padding: 2px;
}

aside {
	border: 1px solid yellow;
	margin: auto;
	width: 90%;
}

.a-savoir {
	margin: 5px;
	padding: 5px;
	border: 2px doted pink;
	border-radius: 10%;
	display: inline-block;

}

section {
	border: 1px solid maroon;
	width: 100%;
}

section.contact {
	border: 2px dashed maroon;
	padding: 20px;
	width: 90%;
	margin: auto;
}

.contact {
	width: 50%;
	margin: auto;
}

div {
	display: inline-block;
	width: 35%;
	margin: auto;
	border: 2px dashed brown;
	margin: 40px;
	padding: 10px;
	vertical-align: top;
}

div.map {
	clear: both;
}

article {
	border: 1px solid red;
}

footer {
	border: 1px solid purple;
}

.centre {
	text-align: center;
}

#besoin {
	display: block;
	width: 95%;
	margin: auto;
	height: 200px;
}

#prenom, #nom, #raison, #email {
	display: block;
	width: 75%;
	margin: auto;
}
\*----------------------*/
