/**
*David TARCZEWSKI
*/

body {
	font-family: sans-serif;
	color: #333;
}

#bloc-page {
	width: 900px;
	margin: auto;
}

header {
	text-align: center;
	font-family: monospace;
	font-size: 1.4em;
	color: #666;
}

header h2 {
	font-size: 1.2em;
	color: gray;
}

nav {
	border: 1px solid green;
	width: 80%;
	margin: auto;
}

nav ul li {
	display: inline-block;
	border: 1px dashed lime;
	margin: 2px;
	padding: 2px;
}

aside {
	border: 1px solid yellow;
	margin: auto;
	width: 90%;
}

.a-savoir {
	margin: 5px;
	padding: 5px;
	border: 2px doted pink;
	border-radius: 10%;
	display: inline-block;

}

section {
	border: 1px solid maroon;
	width: 100%;
}

section.contact {
	border: 2px dashed maroon;
	padding: 20px;
	width: 90%;
	margin: auto;
}

.contact {
	width: 50%;
	margin: auto;
}

div {
	display: inline-block;
	width: 35%;
	margin: auto;
	border: 2px dashed brown;
	margin: 40px;
	padding: 10px;
	vertical-align: top;
}

div.map {
	clear: both;
}

article {
	border: 1px solid red;
}

footer {
	border: 1px solid purple;
}

.centre {
	text-align: center;
}

#besoin {
	display: block;
	width: 95%;
	margin: auto;
	height: 200px;
}

#prenom, #nom, #raison, #email {
	display: block;
	width: 75%;
	margin: auto;
}
